@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    overflow-x: scroll;
}

*, *:before, *after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    height: 65px;
    position: absolute;
    top: 25px;
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-top: 22px;
    padding-left: 24px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
    font-size: 13px;
    padding-left: 12px;
}

#profile-img {
    max-height: 40px;
    border-radius: 50%;
    margin-right: 22px;
    position: relative;
    top: -12px;
}

.icon-apps {
    max-height: 15px;
    margin: 10px;
}

#settings-icon {
    margin: 5px;
    color: #333333;
}

.background-hover {
    background-color: #ffffff;
    height: 35px;
    position: relative;
    top: -10px;
    border-radius: 50%;
}

.background-hover:hover {
    background-color: #f0f0f0;
}

#profile-hover {
    visibility: hidden;
    background: #505355;
    width: 150px;
    position: absolute;
    right: 10px;
    top: 55px;
    border-radius: 5px;
    padding: 5px 0px 5px 5px;
}

#created-by {
    color: #ffffff !important;
}

#profile-hover > p {
    color: #b8babe;
}

#profile-link:hover + #profile-hover {
    visibility: visible;
}

#foogle-logo {
    height: 40px;
    position: absolute;
    top: 35px;
    left: 20px;
}

#searchbar {
    border: 1px white solid;
    box-shadow: 0px 2px 4px 1px lightgrey;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left: 140px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 20px;
    width: 650px;
}

#searchbar:hover {
    box-shadow: 0px 0px 8px 1px lightgrey, 0px 2px 4px 1px lightgrey;
}

#search-logo {
    font-size: 24px;
    color: #5383ec;
    flex: none;
    user-select: none;
    cursor: default;
    padding-left: 5px;
}

#clear-icon {
    color: #63666a;
    padding-right: 5px;
    border-right: 1px lightgrey solid;
    margin-right: 8px;
    user-select: none;
    cursor: pointer;
}

#mic-logo {
    max-height: 22px;
    padding-right: 10px;
    flex: none;
}

#search {
    flex: 1 0 auto;
    border: none;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

input:focus {
    outline: none;
}

#search-color-icon {
    height: 14px;
    padding-right: 5px;
}

#toolbar {
    position: absolute;
    top: 100px;
    left: 150px;
}

#toolbar > ul > li > a {
    color: #5d5f63;
    font-size: 15px;
}

.toolbar-icon {
    font-size: 15px !important;
    position: relative;
    padding-right: 5px;
    top: 2px;
}

#current-nav {
    color: #5383ec !important;
    padding-bottom: 10px;
    border-bottom: #5383ec solid 3px;
}

#divide-line {
    position: absolute;
    width: 100vw;
    top: 30px;
    z-index: -1;
    left: -150px;
    height: 0.5px;
    background-color: #ebebeb;
}

#tools {
    margin-left: 100px;
}

main {
    position: relative;
    top: 150px;
    left: 175px;
    width: 600px;
}

#divide-line2 {
    position: relative;
    left: 0px;
    height: 0.5px;
    margin-bottom: 10px;
    background-color: #ebebeb;
}

#results-amount {
    color: #5d5f63;
    padding-bottom: 20px;
}

.result-more {
    padding-left: 10px;
}

.search-result-link {
    height: 45px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 5px;
}

h2 {
    font-weight: normal;
    color: #180ea4;
}

.one-result > p {
    color: #444444;
}

.one-result {
    padding-bottom: 30px;
}

#related-searches {
    display: flex;
    flex-flow: row wrap;
    width: 650px;
    justify-content: space-between;
    align-items: space-between;
}

.each-related-search {
    color: #000000;
    background-color: #f2f3f4;
    padding: 15px;
    margin: 5px 0px;
    border-radius: 30px;
    font-size: 15px;
    width: 280px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
}

#related-more{
    color: #5d5f63;
}

#search-result-pages{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#footer-bar > li {
    display: inline;
}

footer {
    background: #f3f3f2;
    position: absolute;
    bottom: -1000px;
    height: 50px;
    width: 100vw;
}

#footer-bar {
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 150px;
}

#footer-bar > a {
    text-decoration: none;
    color: #7f8286;
}

#footer-bar > a:hover {
    color: #000000;
}