/*
COLOUR PALETTE
deep teal: 3a7470
paler teal: 679082
pale green: c5d0ba
beige: f6f3df
brown: 443222
*/

html {
    box-sizing: border-box;
    background: #3a7470;
    background-image: url("images/background.png");
    display: flex;
    justify-content: center;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    color: #443222;
}

  #body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 570px;
    height: 95vh;
    border-radius: 20px;
    margin-top: 2.5vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    text-align: center;
}

p {
    font-size: 18px;
}

#title-section {
    background: #c5d0ba;
    flex: 0 1 auto;
    display: block;
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#gameplay-section {
    flex: 1 1 auto;
    background: #f6f3df;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    gap: 20px;
}

#footer {
    flex: 0 1 auto;
    background: #c5d0ba;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

p {
    text-align: center;
}

button {
    margin: 5px 0px 0px 0px;
    border: solid #443222 1px;
    border-radius: 5%;
    width: 70px;
    height: 70px;
    background: #679082;
    font-size: 16px;
    color: #f6f3df
}

button:active {
    background: #3a7470;
    border: solid #679082 1px;
}

.start {
    width: 100px;
    align-self: center;
    margin: 10px;
}

.button-img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#input-score-display {
    display: flex;
    flex-flow: column;
    align-items: space-around;
    justify-content: center;
}

#ui-buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#score {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 10vw;
}

#player-buttons, #computer-buttons {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.button-set {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#icon-attribution {
    position: relative;
    top: -5px;
}

#icon-popup {
    display: none;
    position: absolute;
    bottom: 25px;
    right: 0px;
    width: 220px;
    background: #3a7470;
    border-radius: 15px;
}

li > a {
    color: #f6f3df !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 5px 10px;
}

.hidden {
    display: block !important;
}

.link {
    background: none;
    border: none;
    width: auto;
    height: auto;
    text-decoration: none;
    color: #443222;
    font-family: serif;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link:active {
    background: none;
    border: none;
}