/* COLOURS:
    darkest: #5A444A
    contrast: #C6808C
    low-contrast text: #EDEBEC
    high-contrast text: #F7F7FA
    generic background: #FBFBFB
*/

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #F7F7FA;
    background: #FBFBFB;
}

main {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
}

header {
    display: block;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 48px;
    margin: 0px;
    background-color: #5A444A;
}

.header-logo {
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}

li {
    list-style-type: none;
}

h5,
a {
    color: #EDEBEC;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #5A444A;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
    align-items: center;
    padding: 48px;
    min-height: 45vh;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

button {
    background-color: #C6808C;
    color: #F7F7FA;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.hero-img {
    height: auto;
    width: 40vw;
    min-width: 400px;
    margin: 10px;
    color: #5A444A;
    text-align: center;
    padding: auto;
}

.information {
    color: #5A444A;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

.info-card {
    width: 150px;
    text-align: center;
}

.info-img {
    width: 150px;
    height: 150px;
    border: #C6808C solid 3px;
    border-radius: 15%;
}

.cards {
    width: 80vw;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    gap: 48px;
}

.testimonial {
    background-color: #EDEBEC;
    color: #5A444A;
    padding: 84px 20vw;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: auto;
}

.quote-attribution {
    float: right;
    font-weight: bold;
}

.register {
    background-color: #C6808C;
    margin: 96px;
    padding: 48px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.register div h3,
.register div p {
    margin: 0;
    padding: 3px;
}

.btn-register {
    border: 1px white solid;
}

footer {
    background-color: #5A444A;
    width: 100vw;
    text-align: center;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}