html {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 13.5px;
}

*, *:before, *after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-top: 22px;
    padding-left: 24px;
}

li a {
    text-decoration: none;
    color: #000000;
}

li a:hover {
    text-decoration: underline;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

#profile-img {
    max-height: 40px;
    border-radius: 50%;
    margin-right: 22px;
    position: relative;
    top: -12px;
}

#icon-apps {
    max-height: 20px;
    padding: 10px;
    padding-top: 0px;
}