html {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 13.5px;
    overflow-x: scroll;
}

*, *:before, *after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    height: 65px;
    position: fixed;
    width: 100%;
    min-width: 394px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-top: 22px;
    padding-left: 24px;
}

li a {
    text-decoration: none;
    color: #000000;
}

li a:hover {
    text-decoration: underline;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
    font-size: 13px;
    padding-left: 12px;
}

#profile-img {
    max-height: 40px;
    border-radius: 50%;
    margin-right: 22px;
    position: relative;
    top: -12px;
}

#icon-apps {
    max-height: 15px;
    margin: 10px;
}

.background-hover {
    background-color: #ffffff;
    height: 35px;
    position: relative;
    top: -10px;
    border-radius: 50%;
}

.background-hover:hover {
    background-color: #f0f0f0;
}

#profile-hover {
    visibility: hidden;
    background: #505355;
    width: 150px;
    position: absolute;
    right: 10px;
    top: 55px;
    border-radius: 5px;
    padding: 5px 0px 5px 5px;
}

#created-by {
    color: #ffffff !important;
}

#profile-hover > p {
    color: #b8babe;
}

#profile-link:hover + #profile-hover {
    visibility: visible;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#foogle-logo {
    height: 120px;
    padding: 10px;
}

#searchbar {
    border: 1px #dfe1e5 solid;
    border-radius: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 20px;
    width: 80vw;
    max-width: 550px;
}

#searchbar:hover {
    border: 1px white solid;
    box-shadow: 0px 0px 8px 1px lightgrey;
}

.material-icons {
    font-size: 20px !important;
    color: #9ba0a5;
    flex: none;
    user-select: none;
    cursor: default;
}

#mic-logo {
    max-height: 22px;
    padding-right: 10px;
    flex: none;
}

#search {
    flex: 1 0 auto;
    border: none;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

input:focus {
    outline: none;
}

button {
    background-color: #f8f9fa;
    padding: 10px 14px;
    margin: 5px;
    border: #f8f9fa 1px solid;
    font-size: 14px;
    border-radius: 5px;
}

button:hover {
    background: #f8f9fa;
    border: #dbdce0 1px solid;
    box-shadow: 1px 2px 2px 0px #e6e6e6;
    cursor: pointer;
}

footer {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 40%, #f3f3f2 40%);
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#carbon-neutral {
    width: 200px;
    margin: auto;
    position: relative;
    bottom: -35px;
    padding-top: 20px;
}

footer > a {
    text-decoration: none;
    color: black;
}

footer > a:hover {
    text-decoration: underline;
}

#carbon-neutral > img {
    height: 14px;
}

#footer-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}

#footer-bar-left {
    padding-bottom: 20px;
}

#footer-bar-left > a {
    text-decoration: inherit;
    color: inherit;
    padding-left: 24px;
}

#footer-bar-left > a:hover {
    text-decoration: underline;
}

#footer-bar-right {
    padding-bottom: 20px;
}

#footer-bar-right > a {
    text-decoration: inherit;
    color: inherit;
    padding-right: 24px;
}

#footer-bar-right > a:hover {
    text-decoration: underline;
}

@media all and (max-width: 1200px) {
    footer {
        background: #f3f3f2;
    }
    
    #carbon-neutral {
        bottom: 0px;
    }
}

@media all and (max-width: 600px) {
    #footer-bar {
        flex-flow: column nowrap;
    }
}