html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav {
    position: sticky;
    margin: -10px -10px 0px -10px;
    padding-top: 1px;
    top: 0px;
    left: 0px;
    width: 100vw;
    background: #f3d8dc;
    border-bottom: 1px solid #975F5E;
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
    padding: 0px;
    padding-left: 20px;
    align-content: center;
    justify-content: flex-start;
    gap: 20px;
}

.nav-links ul {
    display: none;
    position: absolute;
    top: 32px;
    left: 150px;
    background: #F5E0E3;
    box-shadow: #ecc5cb 2px 2px 5px;
    padding: 0px;
    padding-top: 10px;
}

.nav-links li:hover ul {
    display: inline;
}

header {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, #F5E0E3), url(images/food-prep.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #F5E0E3;
}

body {
    background-color: #F5E0E3;
}

h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #4D2244;
    font-size: 4rem;
    background-color: #F5E0E3;
    background: radial-gradient(#F5E0E3, transparent);
    width: 50vw;
    margin: auto;
    border-radius: 30%;
}

h2 {
    font-family: Helvetica, sans-serif;
    color: #975F5E;
    text-decoration: underline;
    font-size: 3rem;
    text-align: center;
    background-color: #F5E0E3;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

#recipe-nav {
    text-align: center;
    height: 400px;
    max-height: 30vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

#recipe-nav>li {
    list-style-position: inside;
    margin-left: -40px;
}

li>a {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #975F5E;
}

a:hover {
    color: #F5E0E3;
    background-color: #975F5E;
}

img {
    display: block;
    width: 95vw;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

p,
li {
    color: #6d583d;
}

.recipe-body {
    width: 85vw;
    max-width: 750px;
    margin: 0 auto;
}

ol>li {
    list-style-type: decimal;
    padding: 10px 0;
}

p,
li,
a {
    font-size: 1.6rem;
}