html {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 13px;
}

*, *:before, *after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #aaaaaa;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
}

#header-left {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#header-right {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    padding-right: 20px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a > img {
    max-height: 40px;
}

#profile-img {
    border-radius: 50%;
}